<h1>Orders</h1>
<div *ngIf="isLoading; else orderssTable">
    <!-- Display a loading indicator while data is being fetched -->
    <p-progressSpinner></p-progressSpinner>
</div>
<ng-template #orderssTable>
    <div style="margin-bottom: 1.5rem;">
        <p-table [value]="order" dataKey="orderId" editMode="row" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:15%">Order Id</th>
                    <th style="width:15%">Date</th>
                    <th style="width:15%">User e-mail</th>
                    <th style="width:15%">Event title</th>
                    <th style="width:15%">Quantity</th>
                    <th style="width:15%">Total price</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="order">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="order.orderId">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{order.orderId}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="order.date_of_event" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{order.date_of_event}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="order.user_email" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{order.user_email}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="order.event" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{order.event}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="order.quantity" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{order.quantity}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="order.total_price">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{order.total_price | currency: 'USD'}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-template>


<div [ngClass]="{'horizontal-layout-order-component': isFullScreen, 'vertical-layout-order-component': !isFullScreen}">
        <p-panel header="Delete order" [toggleable]="true"  [collapsed]="!isPanelOpen">
            <div class="centered">
                <div class="delete-button">
                    <h5>Delete order by title</h5>
                    <p-dropdown  
                        [(ngModel)]="deleteOrderId"
                        [options]="orderDropdownOptions" 
                        [style]="{ minWidth: '18rem' }"
                        placeholder="Select Id">
                    </p-dropdown>                  
                </div>
            </div>
            <div class="centered">  
                <div class="button-container">
                    <button type="button" class="btn btn-blue" (click)="onClearDelete()">Clear</button>
                    <button type="button" class="btn btn-blue" (click)="onDelete()">Delete</button>
                </div>
            </div>
        </p-panel>
     
</div>  
<p-toast position="bottom-center" key="bottomCenter"></p-toast>
 



    