<h1>Events</h1>
<div *ngIf="isLoading; else eventsTable">
    <!-- Display a loading indicator while data is being fetched -->
    <p-progressSpinner></p-progressSpinner>
</div>
<ng-template #eventsTable>
    <div style="margin-bottom: 1.5rem;">
        <p-table [value]="event" dataKey="event_name" editMode="row" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%">Title</th>
                    <th style="width:15%">Date</th>
                    <th style="width:13%">Coordinates</th>
                    <th style="width:12%">Description</th>
                    <th style="width:12%">Category</th>
                    <th style="width:11%">Cover</th>
                    <th style="width:5%">Tickets</th>
                    <th style="width:5%">Price</th>
                    <th style="width:7%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-event let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="event">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="event.event_name" [style]="{'width': '100%'}">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ getFirst12Characters(event.event_name)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <!-- <input pInputText type="text" [(ngModel)]="event.event_date" required> -->
                                <p-calendar 
                                    [(ngModel)]="newDates"
                                    [style]="{'width': '100%'}" 
                                    selectionMode="multiple" 
                                    [showTime]="true" 
                                    [showSeconds]="true">
                            </p-calendar>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{getDates(event)}}   
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="event.event_coordinates" [style]="{'width': '100%'}">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{event.event_coordinates}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <textarea 
                                    rows="5" 
                                    cols="30" 
                                    pInputTextarea 
                                    [autoResize]="true" 
                                    [style]="{'width': '100%'}"
                                    [(ngModel)]="event.event_description" >
                                </textarea>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ getFirst12Characters(event.event_description)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown  
                                    [(ngModel)]="selectedCategory"
                                    [options]="categories" 
                                    [style]="{'width': '100%'}"
                                    placeholder="Select category">
                                </p-dropdown>  
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{event.event_category}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="file" id="file"  accept="image/*" (change)="onChange($event)" [style]="{'width': '100%'}"/>
                                <label for="file">
                                    {{ selectedFileName? selectedFileName : 'Choose' }}
                                </label>
                            </ng-template>
                            <ng-template  pTemplate="output">
                                <img src="{{ event.event_images[1]}}"> 
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="event.tickets" >
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{event.max_tickets}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="event.event_ticket_price" >
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{event.event_ticket_price | currency: 'USD'}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(event)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(event)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(event)" class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-template>

<div class="container" [ngClass]="{'horizontal-layout': isFullScreen, 'vertical-layout': !isFullScreen}">
   <div class="outside-box-left">
        <p-panel header="Add event" [toggleable]="true"  [collapsed]="!isPanelOpen">
            <div class="centered">
                <div class="container">
                    <div class="insidebox-left">
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Title</h5>
                            <input type="text" pInputText [(ngModel)]="title" />        
                        </div>
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Description</h5>
                            <textarea 
                                rows="5" 
                                cols="30" 
                                pInputTextarea 
                                [autoResize]="true" 
                                [(ngModel)]="description" >
                            </textarea>
                        </div> 
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Category</h5>
                            <p-dropdown  
                                [(ngModel)]="selectedCategory"
                                [options]="categories" 
                                [style]="{ minWidth: '14rem' }"
                                placeholder="Select category">
                            </p-dropdown>
                        </div> 
                    </div>
        
                    <div class="insidebox-right">
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Date</h5>
                            <p-calendar 
                                [(ngModel)]="date" 
                                selectionMode="multiple" 
                                [showTime]="true" 
                                [showSeconds]="true"
                                >
                            </p-calendar>
                        </div>
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Coordinates</h5>
                            <input 
                                type="text" 
                                pInputText 
                                [(ngModel)]="coordinates" 
                            />        
                        </div>
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Tickets</h5>
                            <input 
                                type="text" 
                                pInputText 
                                [(ngModel)]="tickets" 
                            />
                        </div>
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Price</h5>
                            <input 
                                type="text" 
                                pInputText 
                                [(ngModel)]="price" 
                            />
                        </div>
                        <div>
                            <h5>Cover</h5>
                            <input type="file" id="file"  accept="image/*" (change)="onChange($event)" />
                            <label for="file">
                                {{ selectedFileName? selectedFileName : 'Choose photo' }}
                            </label>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="centered">
                <div class="button-container">
                    <button type="button" class="btn btn-blue" (click)="onClearAdd()" >Clear</button>
                    <button type="button" class="btn btn-blue" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </p-panel>
   </div>
   <div class="outside-box-right">
        <p-panel header="Delete event" [toggleable]="true"  [collapsed]="!isPanelOpen">
            <div class="centered">
                <div class="delete-button">
                    <h5>Delete event by title</h5>
                    <p-dropdown  
                        [(ngModel)]="deleteEmail"
                        [options]="eventDropdownOptions" 
                        [style]="{ minWidth: '14rem' }"
                        placeholder="Select event">
                </p-dropdown>                 </div>
            </div>
            <div class="centered">  
                <div class="button-container">
                    <button type="button" class="btn btn-blue" (click)="onClearDelete()">Clear</button>
                    <button type="button" class="btn btn-blue" (click)="onDelete()">Delete</button>
                </div>
            </div>
        </p-panel>
    </div>  
    
</div>  
<p-toast position="bottom-center" key="bottomCenter"></p-toast>





