img{
    height: 6rem;
    width: 5rem;
}


input[type="file"]{
    display: none;
}

label{
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 0.3rem;
}

ui-datepicker {
    position: relative; /* Change from sticky to relative */
    height: auto; /* Set a fixed height or remove height property */
}
