<h1>Events</h1>
 <div style="margin-bottom: 1.5rem;">
    <p-table [value]="event" dataKey="title" editMode="row" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">Title</th>
                <th style="width:15%">Date</th>
                <th style="width:13%">Coordinates</th>
                <th style="width:12%">Description</th>
                <th style="width:12%">Category</th>
                <th style="width:11%">Cover</th>
                <th style="width:5%">Tickets</th>
                <th style="width:5%">Price</th>
                <th style="width:7%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="event">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="event.title">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{event.title}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="event.date" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{event.date}}   
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="event.coordinates" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{event.coordinates}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="event.description" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{event.description}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                             <p-cascadeSelect 
                                [(ngModel)]="selectedCategory" 
                                [options]="categories" 
                                optionLabel="title" 
                                optionGroupLabel="name" 
                                [optionGroupChildren]="['categories']" 
                                [style]="{ minWidth: '14rem' }" 
                                placeholder="Select category">
                            </p-cascadeSelect>   
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{event.category.title}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-fileUpload 
                                mode="basic" 
                                chooseLabel="Choose" 
                                name="demo[]" 
                                url="https://www.primefaces.org/cdn/api/upload.php" 
                                accept="image/*" 
                                [maxFileSize]="10000000" 
                                (onUpload)="onUpload($event)">
                            </p-fileUpload>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <img 
                                *ngIf="event.cover" 
                                src="{{event.cover}}" 
                                alt="Event Cover"  
                                style="max-width: 100px; max-height: 100px;">
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="event.tickets">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{event.tickets}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="event.price">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{event.price | currency: 'USD'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(event)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(event)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(event)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="container" [ngClass]="{'horizontal-layout': isFullScreen, 'vertical-layout': !isFullScreen}">
   <div class="outside-box-left">
        <p-panel header="Add event" [toggleable]="true"  [collapsed]="!isPanelOpen">
            <div class="centered">
                <div class="container">
                    <div class="insidebox-left">
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Title</h5>
                            <input type="text" pInputText [(ngModel)]="title" />        
                        </div>
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Description</h5>
                            <textarea 
                                rows="5" 
                                cols="30" 
                                pInputTextarea 
                                [autoResize]="true" 
                                [(ngModel)]="description" >
                            </textarea>
                        </div> 
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Category</h5>
                            <p-cascadeSelect 
                                [(ngModel)]="selectedCategory" 
                                [options]="categories" 
                                optionLabel="title" 
                                optionGroupLabel="name" 
                                [optionGroupChildren]="['categories']" 
                                [style]="{ minWidth: '14rem' }" 
                                placeholder="Select category">
                            </p-cascadeSelect>
                        </div> 
                    </div>
        
                    <div class="insidebox-right">
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Date</h5>
                            <p-calendar 
                                [(ngModel)]="date" 
                                [showTime]="true" 
                                [showSeconds]="true">
                            </p-calendar>
                        </div>
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Coordinates</h5>
                            <input 
                                type="text" 
                                pInputText 
                                [(ngModel)]="coordinates" 
                            />        
                        </div>
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Tickets</h5>
                            <input 
                                type="text" 
                                pInputText 
                                [(ngModel)]="tickets" 
                            />
                        </div>
                        <div style="margin-bottom: 0.5rem;">
                            <h5>Price</h5>
                            <input 
                                type="text" 
                                pInputText 
                                [(ngModel)]="price" 
                            />
                        </div>
                        <div>
                            <h5>Cover</h5>
                            <p-fileUpload 
                                mode="basic" 
                                chooseLabel="Choose" 
                                name="demo[]" 
                                url="https://www.primefaces.org/cdn/api/upload.php" 
                                accept="image/*" 
                                [maxFileSize]="10000000" 
                                (onUpload)="onUpload($event)">
                            </p-fileUpload>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="centered">
                <div class="button-container">
                    <button type="button" class="btn btn-dark" (click)="onClearAdd()" >Clear</button>
                    <button type="button" class="btn btn-dark" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </p-panel>
   </div>
   <div class="outside-box-right">
        <p-panel header="Delete event" [toggleable]="true"  [collapsed]="!isPanelOpen">
            <div class="centered">
                <div style="margin-bottom: 0.5rem;">
                    <h5>Delete event by title</h5>
                    <input type="text" pInputText [(ngModel)]="deleteEventTitle" />        
                </div>
            </div>
            <div class="centered">  
                <div class="button-container">
                    <button type="button" class="btn btn-dark" (click)="onClearDelete()">Clear</button>
                    <button type="button" class="btn btn-dark" (click)="onDelete()">Delete</button>
                </div>
            </div>
        </p-panel>
    </div>  
    
</div>  
<p-toast position="bottom-center" key="bottomCenter"></p-toast>





