<h1>Categories</h1>
<div class="container" [ngClass]="{'horizontal-layout': isFullScreen, 'vertical-layout': !isFullScreen}">
    <div class="outside-box-left">
        <p-panel header="Add category" [toggleable]="false"  >
            <div class="centered">
                <div style="margin-bottom: 0.5rem;">
                    <h5>Title</h5>
                    <input type="text" pInputText [(ngModel)]="input" />        
                </div>
            </div>
            <div class="centered">
                <div class="button-container">
                    <button type="button" class="btn btn-blue" (click)="onClearAdd()" >Clear</button>
                    <button type="button" class="btn btn-blue" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </p-panel>
    </div>

    <div class="outside-box-right">
        <p-panel header="Delete category" [toggleable]="false">
            <div class="centered">
                <div style="margin-bottom: 0.5rem;">
                    <h5>Select category by title</h5>
                    <p-dropdown  
                        [(ngModel)]="selectedCategory"
                        [options]="categories" 
                        [style]="{ minWidth: '14rem' }"
                        placeholder="Select category">
                    </p-dropdown>     
                </div>
            </div>
            <div class="centered">
                <div class="button-container">
                    <button type="button" class="btn btn-blue" (click)="onClearDelete()" >Clear</button>
                    <button type="button" class="btn btn-blue" (click)="onDelete()">Delete</button>
                </div>
            </div>
        </p-panel>
    </div>
</div>

<p-toast position="bottom-center" key="bottomCenter"></p-toast>
