<div class="image-background">
    <div class="container">
        <div class="rounded-box">
            <div class="centered-box">       
                <h1>Log in</h1> 
                <div style="margin-bottom: 1.5rem;">
                    <input pInputText placeholder="Username" [(ngModel)]="username"/>
                </div>
                <div style="margin-bottom: 1.5rem;">
                    <p-password placeholder="Password" [(ngModel)]="password" [feedback]="false"></p-password>
                </div>
                <div style="margin-bottom: 1rem;">
                    <button type="button" class="btn btn-blue" (click)="onLogin()" >Log in</button>
                </div>
                <div>
                    <p (click)="showForgotPasswordInput = true" *ngIf="!showForgotPasswordInput">Forgot password?</p>
                    <div *ngIf="showForgotPasswordInput">
                        <div style="margin-bottom: 1rem;">
                            <input pInputText placeholder="Enter your email" [(ngModel)]="forgotPasswordEmail"/>
                        </div>
                        <div>
                            <button type="button" class="btn btn-blue" (click)="sendForgotPasswordEmail()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast position="bottom-center" key="bottomCenter"></p-toast>


