h1{
    margin-bottom: 1.6rem;
}

p:hover{
    cursor: pointer;
}

.image-background{
    background: url('/assets/login.jpg') no-repeat center center fixed; 
    background-size: cover; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rounded-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(7, 93, 197, 0.896);
    padding: 1.8rem;
}

.centered-box {
    text-align: center;
}