<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="container">
    <div class="rounded-box">
        <div class="centered-box">       
            <h1>Log in</h1> 
            <div style="margin-bottom: 1.5rem;">
                <input pInputText placeholder="Username" [(ngModel)]="value"/>
            </div>
            <div style="margin-bottom: 1.5rem;">
                <input pInputText placeholder="Password" [(ngModel)]="value"/>     
            </div>
            <div>
                <button type="button" class="btn btn-dark" (click)="onLogin()" >log in</button>
            </div>
        </div>
    </div>
</div>