<div class="flex h-full" style="background-color: black; color: white; width: auto; position: fixed; left: 0;">
    <div class="overflow-y-auto">
        <ul class="list-none p-0 m-0 overflow-hidden">
            <li>
                <a pRipple class=" flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-700 transition-duration-150 transition-colors p-ripple"
                    style="color:  rgb(49, 48, 48); text-decoration: none;" routerLink="/admin-page" routerLinkActive="active" aria-current="page">
                    <i class="pi pi-user mr-2" style="color: white;"></i>
                    <span  class="font-medium" style="color: white;">Admins</span>
                </a>
            </li>
            <li>
                <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-700 transition-duration-150 transition-colors p-ripple"
                    style="color:  rgb(49, 48, 48); text-decoration: none;" routerLink="/user-page" routerLinkActive="active" aria-current="page">
                    <i class="pi pi-users mr-2" style="color: white;"></i>
                    <span class="font-medium" style="color: white;">Users</span>
                </a>
            </li>
            <li>
                <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-700 transition-duration-150 transition-colors p-ripple"
                    style="color:  rgb(49, 48, 48);" >
                    <i class="pi pi-list mr-2" style="color: white;"></i>
                    <span class="font-medium" style="color: white;">Categories</span>
                </a>
            </li>
            <li>
                <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-700 transition-duration-150 transition-colors p-ripple"
                    style="color: rgb(49, 48, 48); text-decoration: none;" routerLink="/events-page" routerLinkActive="active" aria-current="page">
                    <i class="pi pi-search mr-2" style="color: white;"></i>
                    <span class="font-medium" style="color: white;">Events</span>
                </a>
            </li>
        </ul>
        <div class="mt-auto" style="position: fixed; bottom: 0; width: auto;">
            <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
            <a pRipple class="ml-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-700 transition-duration-150 transition-colors p-ripple"
                style="color: white;">
                <i class="pi pi-search mr-2" style="color: white;"></i>
                <span class="font-bold" style="color: white;">Admin</span>
            </a>
        </div>
    </div>
</div>

