
    <div class="flex h-full sidebar-color">
        <div class="overflow-y-auto">
            <ul class="list-none p-0 m-0 overflow-hidden">
                <li>
                    <a pRipple class=" flex align-items-center cursor-pointer p-3 border-round text-700 hover-color transition-duration-150 transition-colors p-ripple"
                        style="text-decoration: none;" 
                        routerLink="/main-content/admin-page" 
                        routerLinkActive="active" 
                        aria-current="page">
                        <i class="pi pi-user mr-2" style="color: white;"></i>
                        <span  class="font-medium" style="color: white;">Admins</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover-color transition-duration-150 transition-colors p-ripple"
                    style="text-decoration: none;" 
                        routerLink="/main-content/user-page" 
                        routerLinkActive="active" 
                        aria-current="page">
                        <i class="pi pi-users mr-2" style="color: white;"></i>
                        <span class="font-medium" style="color: white;">Users</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover-color transition-duration-150 transition-colors p-ripple"
                        style="text-decoration: none;" 
                        routerLink="/main-content/categories" 
                        routerLinkActive="active" 
                        aria-current="page">
                        <i class="pi pi-list mr-2" style="color: white;"></i>
                        <span class="font-medium" style="color: white;">Categories</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover-color transition-duration-150 transition-colors p-ripple"
                        style="text-decoration: none;" 
                        routerLink="/main-content/events-page" 
                        routerLinkActive="active" 
                        aria-current="page">
                        <i class="pi pi-search mr-2" style="color: white;"></i>
                        <span class="font-medium" style="color: white;">Events</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover-color transition-duration-150 transition-colors p-ripple"
                        style="text-decoration: none;" 
                        routerLink="/main-content/orders" 
                        routerLinkActive="active" 
                        aria-current="page">
                        <i class="pi pi-euro mr-2" style="color: white;"></i>
                        <span class="font-medium" style="color: white;">Orders</span>
                    </a>
                </li>
            </ul>
            <div class="mt-auto" style="position: fixed; bottom: 0; width: auto;">
                <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
                <div class="fixed-width">
                    <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover-color transition-duration-150 transition-colors p-ripple"
                        style="text-decoration: none;"       
                        routerLinkActive="active" 
                        aria-current="page"
                        (click) = "onLogout()"
                        (mouseenter)="onMouseEnter()"
                        (mouseleave)="onMouseLeave()">
                        <i class="pi pi-lock-open mr-2" style="color: white;"></i>
                        <span class="font-medium" style="color: white;">{{  buttonText || getUsername() }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>




