@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); 
@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';
/* @import 'primeng/resources/themes/viva-dark/theme.css'; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee; 
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem; 
    }
}

h1{
    margin-bottom: 0.8rem;
}

h4{
    font-size: 1.3rem;
}

h5{
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.outside-box-left{
    flex: 1;
}

.outside-box-right{
    flex: 1; 
}

.delete-button{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    /* text-align: center; */
}
.insidebox-left{
    flex: 1; 
    margin-right: 2.5rem;   
    margin-top: 1rem;
}

.insidebox-right {
    flex: 1; 
    margin-left: 2.5rem;   
    margin-top: 1rem;
}

.horizontal-layout {
    flex-direction: row;
    justify-content: space-between;   
}

.vertical-layout {
    flex-direction: column; 
}


.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}


.loggin-message{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.massage-box{
    border-radius: 10px; 
    border: 2px solid black;
    padding: 0.3rem;
}

.button-container {
    display: flex;
    gap: 0.5rem; 
}

.btn-blue {
    width: 4.5rem;
    height: 2rem;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    border: none;
    border-radius: 10px; 
    padding: 0.5rem; 
    cursor: pointer;
}


.btn-blue:hover {
    background-color: var(--primary-color); 
}

.p-panel-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
}

.p-panel{
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.p-panel-header-icon{
    color: white;    
}

.p-panel-header-icon:hover{
    background-color: var(--blue-600)
}

.p-progress-spinner-circle{
    color: var(--primary-color);
}


table{
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

th{
    background-color: var(--primary-color) ;
    color: white;
    padding: 0.5rem;
}

td{
    padding: 0.5rem;
}

.hover-color:hover {
    background-color: var(--blue-600) !important;
}

